<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header') -%>
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <%- include('layouts/navbar') -%>
            <!-- Page content-->
            <section class="py-5">
                <div class="container px-5" id="sign-in-up-main-container">
                    <!-- Sign In form-->
                    <div class="bg-light rounded-4 py-5 px-4 px-md-5" id="login-container">
                        <div class="text-center mb-5">
                            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                            <h1 class="fw-bolder">Sign In</h1>
                            <p class="lead fw-normal text-muted mb-0">Log in to schedule your road test online.</p>
                        </div>
                        <div class="row gx-5 justify-content-center">
                            <div class="col-lg-8 col-xl-6">
                                <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                                    <!-- Name input-->
                                    <!-- Commented this out for simple login page (can be used later for sign up form) -->
                                    <!-- <div class="form-floating mb-3">
                                        <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                                        <label for="name">Full name</label>
                                        <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                                    </div> -->
                                    <!-- Email address input-->
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="user-email" type="email" placeholder="name@example.com" />
                                        <label for="user-email">Email address</label>
                                    </div>
                                    <!-- Password input-->
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="user-password" type="password" placeholder="********" />
                                        <label for="user-password">Password</label>
                                    </div>
                                    <!-- Phone number input-->
                                    <!-- simple login page -->
                                    <!-- <div class="form-floating mb-3">
                                        <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                                        <label for="phone">Phone number</label>
                                        <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                                    </div> -->
                                    <!-- Login button -->
                                    <div class="text-center form-button">
                                        <a class="btn btn-primary btn-lg px-5 py-3 fs-6 fw-bolder" href="/login">Login</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Page under construction container -->
                <div class="text-center page-under-construction">
                    <img src="assets/page-under-construction.png">
                </div>
            </section>
        </main>
        <!-- Footer-->
        <%- include('layouts/footer') -%>
        <%- include('layouts/scripts') -%>
    </body>
</html>
